.bootstrap { 
  display: flex;
   }

.cards { 
  display:flex;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap;
 }

.card {
  border:1px solid black;
  height: 400px;
}

img {
  max-width:100%;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
